# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Qt
*.qmlc

# VSCode
.vscode/

# JetBrains
.idea/

# Linux
*.swp
*~

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Environment
.env

# Local runtime data and release artifacts
config/settings.yaml
*.pre_*
*.tar.gz
*.flatpak
*.AppImage
Middle_Age-road.png
